* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.about {
    width: 50%;
}

h3 {
    color: deeppink;
}

h5 {
    margin-top: 5px;
}

p {
    margin-top: 13px;
    font-size: 13px;
}

.deadline {
    display: flex;
}

span {
    /* font-size: 10px; */
}

.deadline {
    margin-top: 10px;
}

.time {
    width: 60px;
    background-color: black;
    margin-left: 20px;
    text-align: center;
    color: white;
    padding: 3px;
    font-size: 15px;
}